body {
    margin: 0px;
    padding: 0px;
}

.navlogo {
    height: 40px;
}

#bluenav {
    background-color: #005983
}

nav {
    background-color: #10243B;
}

ul {
    list-style-type: none;
    display: inline;
    padding: 5px 0;
}

ul li {
    font-size: 15px;
    display: inline;
    padding: 5px 10px;
    font-family: 'Open Sans,' sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 0 15px;
    
}

#herosection {
    width: 100vw;
    height:100vh;
    background-image: url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    text-align: center;
}
